@import url('https://fonts.googleapis.com/css2? family= Lato & display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    background-color: #08172E;
}

.hotel__ind{
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bloco{
    width: 60%;
    height: 130vh;
    border: 0.5px solid rgb(70, 70, 70);
    border-radius: 2%;
    padding: 1% 2% 0 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    color: #fff;
    text-align: justify;
    font-size: 16px; 
    padding: 0.2rem;   
}

h3{
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    box-sizing: border-box;
}

.infos{
    width: 100%;
}

i{
    color: #BF925A;
    padding: 2% 0 2% 0;
    box-sizing: border-box;
}

.infos__1{
    width: 100%;
    height: 5vh;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0 2% 0;
    box-sizing: border-box;
}

.botao{
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2px solid #fff;
    color: #fff;
}

.botao_enviar{
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2px solid rgb(180, 180, 180);
    color: rgb(180, 180, 180);
}


.botao a:hover{
    background-color: rgba(80, 80, 80, 0.9);
    color: #fff;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.avaliacao {
    padding-top: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
}

label {
    margin: 5px 0;
    color: rgb(180, 180, 180);
    font-size: 16px;
}

textarea{
    width: 100%;
    height: 100%;
    color: rgb(180, 180, 180);
    resize: none;
}

.imagem_ibis {
    width: 100%;
    height: 100%;
    background-image: url(../images/hotel\ ibis\ style\ anhembi\ 2.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_confort {
    width: 100%;
    height: 100%;
    background-image: url(../images/Hotel\ comfort.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_mercure {
    width: 100%;
    height: 100%;
    background-image: url(../images/Mercure.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_bluetreemorumbi {
    width: 100%;
    height: 100%;
    background-image: url(../images/Blue\ tree\ 2.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_wtc {
    width: 100%;
    height: 100%;
    background-image: url(../images/WTC.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_bourbon {
    width: 100%;
    height: 100%;
    background-image: url(../images/Bourbon\ 2.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_bluetreepaulista {
    width: 100%;
    height: 100%;
    background-image: url(../images/Blue\ tree\ paulista\ 2.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_goldentulip {
    width: 100%;
    height: 100%;
    background-image: url(../images/golden\ tulip\ paulista\ plaza.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_renaissance {
    width: 100%;
    height: 100%;
    background-image: url(../images/Renaissance\ São\ Paulo\ Hotel\ 2.jpg);
    background-size: 30rem;
    background-repeat:no-repeat;
    background-position: center;
}