*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu_botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: brown;
    width: 100%;
    height: 30%;
}

.titulopag{
    display: flex;
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.container{
}

.negocios{
    width: 700px;
    height: 500px;
    border: 1px solid;

}

.trabalho{
    width: 700px;
    height: 500px;
    border: 1px solid;
}

.passeio{
    width: 700px;
    height: 500px;
    border: 1px solid;
}

h1{

}

h2{

}

h3{

}

.banner{
   
}

h4{

}

.imagem{
    width: 250px;
    height: 250px;
    background-image: url(../images/hotelsp.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.infos{
}

.botao{

}