@import url('https://fonts.googleapis.com/css2? family= Lato & display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.links__menu a:hover {
    color: #000;
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 10vh;
    color: #fff;
    padding: 0 10px 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 1.5rem;
}

.header__menu ul {
    display: flex;
}

.header__menu__item {
    font-size: 1rem;
    margin: 0 10px;
    font-weight: 100;
}

.links__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../spbrilhos.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__chamada {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header__botao {
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
}

.header__chamada a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.negocios, .passeio {
    background-color: #08172E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trabalho {
    background-color: #15253f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulobloco {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 0 0;
    box-sizing: border-box;
}

.blocos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 90vh;
}

.bloco {
    width: 27%;
    height: 50vh;
    border: 0.5px solid rgb(70, 70, 70);
    border-radius: 2%;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    color: #fff;
}

.titulo_inicial {
    font-size: 15rem;
    color: #fff;
}

p {
    color: #fff;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 100;
}

h3 {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    box-sizing: border-box;
}

.imagem_IBIS {
    width: 100%;
    height: 100vh;
    background-image: url(/images/hotel\ ibis\ style\ anhembi.jpg);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_confort {
    width: 100%;
    height: 100%;
    background-image: url(/images/Hotel\ comfort\ 2.jpg);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
    
}

.imagem_bluetreemorumbi {
    width: 100%;
    height: 100%;
    background-image: url(/images/Blue\ tree.jpg);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_mercure {
    width: 100%;
    height: 100%;
    background-image: url(/images/Mercure\ 2.webp);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
}
.imagem_sheraton {
    width: 100%;
    height: 50%;
    background-image: url(/images/WTC\ 2.jpg);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_bourbon {
    width: 100%;
    height: 100%;
    background-image: url(/images/Bourbon\ 3.webp);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_bluetreepaulista {
    width: 100%;
    height: 100%;
    background-image: url(/images/Blue\ tree\ paulista.jpg);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_goldentulip {
    width: 100%;
    height: 100%;
    background-image: url(/images/golden\ tulip\ paulista\ plaza\ 2.jpg);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
}

.imagem_renaissance {
    width: 100%;
    height: 100%;
    background-image: url(/images/renaissance\ sao\ paulo.jpg);
    background-size: 15rem;
    background-repeat:no-repeat;
    background-position: center;
}

.infos {
    width: 100%;
}

i {
    color: #BF925A;
    padding: 2% 0 2% 0;
    box-sizing: border-box;
}

.infos__1 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
}

.botao {
    display: flex;
    justify-content: center;
    border: 0.2px solid #fff;
    margin: 5% 35% 0 35%;
    background-color: rgba(80, 80, 80, 0.3);
    color: #fff;
}

.botao a:hover {
    background-color: rgba(80, 80, 80, 0.9);
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


@media (max-width: 940px) {
    .header {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 8vh;
    }

    h2{
        font-size: 1.5rem;
    }

    .header__menu {
        position: relative;
    }

    .links__menu {
        width: 100%;
        height: 200px;
        padding-right: 1vh;
        position: fixed;
        right: -100vw;
        top: 10vh;
        transition: 0.5s;
        flex-direction: column;
        align-items: flex-end;
    }

    .header__chamada {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .header__botao {
        padding: 5%;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3%;
        font-size: 2.5rem;
        color: #fff;
        width: 80%;
    }

    .header__chamada a:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
    }

    .container{
        width: 100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titulobloco {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        text-align: center;
    }

    .blocos {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 35vh 0 20vh 0;
    }

    .bloco {
        width: 80%;
        height: 50vh;
        border: 0.5px solid rgb(70, 70, 70);
        border-radius: 3%;
        padding: 0 2% 0 2%;
        margin: 7% 0 7% 0;
        box-sizing: border-box;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 14px;
    }
}