*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecalho{

}

.container{
}

.negocios{
    width: 700px;
    height: 500px;
    border: 1px solid;

}

.trabalho{
    width: 700px;
    height: 500px;
    border: 1px solid;
}

.passeio{
    width: 700px;
    height: 500px;
    border: 1px solid;
}

h1{

}

h2{

}

.imagem{
    width: 250px;
    height: 250px;
    background-image: url(../images/hotelsp.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.infos{
}

.botao{

}